<div class="col-2 min-vh-100 bg-dark text-white">
    <br><br>
    <!-- collab logo -->
    <div class="mx-auto text-center">
        {% load static %}
        <a href="{% url 'dashboardPage' %}">
            <img src="{% static 'assets/logowhite.png'%}" alt="logo" style="width:120px; height:120px;"></a>
    </div>
    <br><br>

    <ul class="nav flex-column ps-4 fs-5">
        <li class="nav-item">
           <a class="nav-link text-light" href="{% url 'accountPage' %}"><i class="fa-solid fa-user"></i>&nbsp; Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'dashboardPage' %}"><i class="fa-solid fa-layer-group"></i>&nbsp; Projects</a>
            <ul class="nav flex-column ps-4">
                <!-- project name -->
                <a class="nav-link text-light" href="{% url 'projectPage' %}"><i class="fa-solid fa-folder"></i>&nbsp; Project 1</a>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i>&nbsp; Logout</a>
       </li>
    </ul>
</div>