<div class="row row-cols-auto align-items-baseline">
    <div class="col">
        <h1>{{project.title}}</h1>
    </div>
    <div class="col">
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectPage' project.id %}"><i class="fa-solid fa-table-list"></i> Board</a>
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectInfoPage' project.id %}"><i class="fa-solid fa-gear"></i> Information</a>
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectMembersPage' project.id %}"><i class="fa-solid fa-user"></i> Members</a>
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectHistoryPage' project.id %}"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
    </div>
</div>