<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
   {% include 'collabapp/head-modules.html' %}
   <title>Project Information</title>
</head>
<body>

    <div class="container-fluid bg-warning h-100">
        
        <div class="row min-vh-100">
    
            {% include 'collabapp/navbar.html' %}
    
            <div class="col-10 min-vh-100 px-5 py-4 bg-light">
               {% include 'collabapp/project-header.html' %}
               <hr>
                <br>

                <div class="container py-2 border">

                   <h3><i class="fa-solid fa-gear"></i> Project Information</h3>
                   <br>
    
                    <div class="row text-center">
                        <div class="col py-3 mx-2 border">
                           <h4><i class="fa-solid fa-sliders"></i> Project details</h4>

                            <div class="container bg-white p-3 mb-2 text-start" style="min-height:300px;">
                                <textarea class="form-control" rows="9"></textarea>
                            </div>
                            <div class="text-end">
                               <a class="btn btn-success" href=""><i class="fa-solid fa-save"></i> Save</a>
                            </div>
                        </div>
                        
                        <div class="col py-3 mx-2 border">
                           <h4><i class="fa-solid fa-user"></i> Members</h4>

                            <div class="container bg-white p-3 mb-2 text-start" style="min-height:300px;">
                                
                                <div class="container bg-light py-1 px-2 border">
                                    <div class="row">
                                        <div class="col-auto">
                                            <p class="my-auto">Jose P. Rizal</p>
                                        </div>
                                        <!-- <div class="col align-self-end text-end">
                                            <div class="text-end">
                                                <a class="btn btn-sm btn-warning" href=""><i class="fa-solid fa-fw fa-pen-to-square"></i></a>
                                                <a class="btn btn-sm btn-danger" href=""><i class="fa-solid fa-fw fa-x"></i></a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>

                            </div>
                            <div class="text-end">
                               <!-- <a class="btn btn-success" href=""><i class="fa-solid fa-plus"></i> Add</a>                             -->
                               <a class="btn btn-warning" href="{% url 'projectMembersPage' project.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>                            
                            </div>
                        </div>
    
                        <div class="col py-3 mx-2 border">
                           <h4><i class="fa-solid fa-list-check"></i> Tasks</h4>

                            <div class="container bg-white p-3 mb-2 text-start" style="min-height:300px;">

                                <div class="container bg-light py-1 px-2 border">
                                    <div class="row">
                                        <div class="col-auto">
                                            <p class="my-auto">Task 1</p>
                                        </div>
                                        <!-- <div class="col align-self-end text-end">
                                            <div class="text-end">
                                                <a class="btn btn-sm btn-warning" href=""><i class="fa-solid fa-fw fa-pen-to-square"></i></a>
                                                <a class="btn btn-sm btn-danger" href=""><i class="fa-solid fa-fw fa-x"></i></a>
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                                
                            </div>
                            <div class="text-end">
                               <!-- <a class="btn btn-success" href=""><i class="fa-solid fa-plus"></i> Add</a> -->
                               <a class="btn btn-warning" href="{% url 'projectPage' project.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>                            
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            
            {% include 'collabapp/footer.html' %}
        </div>
        
    </div>
    
    <!-- footer -->



    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>