<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
   {% include 'collabapp/head-modules.html' %}
   <title>Project Information</title>
</head>
<body>

    <div class="container-fluid bg-warning h-100">
        
        <div class="row min-vh-100">
    
            {% include 'collabapp/navbar.html' %}
    
            <div class="col-10 min-vh-100 px-5 py-4 bg-light">
               {% include 'collabapp/project-header.html' %}
                <hr>
                <br>

                <div class="container w-75 justify-content-center">
                    
                        <form method = "POST" action = "">
                                {% csrf_token %}
                            <br>
                            <h4><i class="fa-solid fa-gear"></i> Project Information</h4>
                            <hr>
                            <div>
                                <label for="name"> Project name</label>
                                <input class="form-control" type="text" placeholder="Project name">
                            </div>
                            <br>
                            <div>
                                <label for="name"> Project code</label>
                                <input class="form-control" type="text" placeholder="Project code">
                            </div>
                            <br>
                            <div>
                                <label for="name"> Project Description</label>
                                <textarea class="form-control" name="projectDesc" id="projectDesc" rows="3" placeholder="Project description"></textarea>
                            </div>
                            <br>
                            <div class="text-end">
                                <br>
                            <button class="btn btn-success border-dark" type="submit"><i class="fa-solid fa-floppy-disk"></i> &nbsp;Save changes</button>
                            </div>
                        </form>   

                </div>


            </div>
            
            {% include 'collabapp/footer.html' %}
        </div>
        
    </div>
    
    <!-- footer -->



    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
