<div class="row row-cols-auto align-items-baseline">
    <div class="col">
        <h1>Project 1</h1>
    </div>
    <div class="col">
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="#"><i class="fa-solid fa-table-list"></i> Board</a>
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectInfoPage' %}"><i class="fa-solid fa-gear"></i> Information</a>
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectMembersPage' %}"><i class="fa-solid fa-user"></i> Members</a>
        <a class="fs-6 mx-1 text-decoration-none text-muted" href="{% url 'projectHistoryPage' %}"><i class="fa-solid fa-clock-rotate-left"></i> History</a>
    </div>
</div>