<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    {% include 'collabapp/head-modules.html' %}
    <title>Members</title>
</head>
<body>

    <div class="container-fluid bg-warning h-100">
        
        <div class="row min-vh-100">
    
            {% include 'collabapp/navbar.html' %}
    
            <div class="col-10 min-vh-100 px-5 py-4 bg-light">
                {% include 'collabapp/project-header.html' %}
                <hr>


                <br>
                <h3><i class="fa-solid fa-user"></i> Members</h3>

                <div class="container mt-3 py-2">
    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col" style="width:15%;">IMG</th>
                                <th scope="col" style="width:20%;">Name</th>
                                <th scope="col" style="width:15%;">Position</th>
                                <th scope="col" style="width:40%;">Assigned Tasks</th>
                                <!-- <th scope="col" style="width:10%;">Manage</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            <!-- sample member -->
                            {% for member in members %}
                                <tr>
                                    {% if member.profile_picture %}
                                        <td><img class="rounded" src="{{member.profile_picture.url}}" alt="" style="width:100px;height:100px;object-fit:cover;"></td>
                                    {% else %}
                                        <td><img class="rounded" src="{% static 'static/default_pfp.png' %}" alt="" style="width:100px;height:100px;object-fit:cover;"></td>
                                    {% endif %}
                                    <td>{{member.name}}</td>
                                    {% if member.user == project.owner %}
                                        <td>Owner</td>
                                    {% else %}
                                        <td>Member</td>
                                    {% endif %}

                                    <td>
                                        <ul>
                                            {% for task in member.tasks.all %}
                                            <li>{{task.name}}</li>
                                            {% empty %}
                                            <li>None</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <!-- <td class="text-center align-middle">
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#removeMember"><i class="fa-solid fa-arrow-right-from-bracket"></i> Remove</button>
                                    </td> -->
                                </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>

                </div>


            </div>
            
            {% include 'collabapp/footer.html' %}
        </div>
        
    </div>
    
    <!-- popup when removing -->
    <div class="modal" id="removeMember" tab-index="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Remove member</h5>
                    <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to remove this member?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Remove</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>