<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
   {% include 'collabapp/head-modules.html' %}
   <title>Project</title>
</head>
<body>

    <div class="container-fluid bg-warning h-100">
        
        <div class="row min-vh-100">
    
            {% include 'collabapp/navbar.html' %}
    
            <div class="col-10 min-vh-100 px-5 py-4 bg-light">
                {% include 'collabapp/project-header.html' %}
                <p class="text-muted my-1">{{project.code}} (Project Code)</p>
                <p>{{project.description}}</p>
                <hr>
                <br>

                <div class="row justify-content-center">

                    <!-- TO DO -->
                    <div class="col mx-3 px-0" style="max-width:250px;">
                       <div class="border py-1 bg-dark text-white">
                            <div class="row align-items-center">
                                <div class="col text-center align-self-end">
                                    <h6>To Do</h6>
                                </div>
                                <div class="col-auto">
                                    <div class="text-end">
                                        <a class="btn btn-success lh-1 me-2" href="{% url 'taskAddPage' project.id %}"><i class="fa-solid fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- task (tasks moved around) -->

                        {% for task in tasks_to_do %}
                            <div class="card my-2">
                                <div class="card-header px-3 py-1">
                                    <h6 class="my-1">{{task.name}}</h6>

                                </div>

                                <div class="card-body px-3 py-2 mb-3">
                                    <b><i class="fa-solid fa-calendar-day"></i> Due Date:</b><p>{{task.due_date}}</p>
                                    <b><i class="fa-solid fa-user mb-2"></i> Members:</b><br>
                                    {% for member in task.getMembers %}
                                        {{member.name}}
                                    {% endfor %}
                                </div>
                                <div class="text-end mb-2 me-2">
                                    {% if user not in task.getMembers %}
                                        <a class="btn btn-success btn-sm" href="{% url 'joinTask' task.id %}"><i class="fa-solid fa-plus"></i> Join</a>
                                    {% else %}
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#leaveTask1"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</button>
                                    {% endif %}
                                    <a class="btn btn-warning btn-sm" href="{% url 'taskEditPage' project.id task.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteTask1"><i class="fa-solid fa-trash"></i> Delete</button>
                                </div>
                            </div>

                            <!-- popup for delete -->
                            <div class="modal" id="deleteTask1" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Delete task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'deleteTask' task.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- popup for leave -->
                            <div class="modal" id="leaveTask1" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Leave task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to leave this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'leaveTask' task.id %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>


                    <!-- DOING -->
                    <div class="col mx-3 px-0" style="max-width:250px;">
                        <div class="border py-1 bg-dark text-white">
                             <div class="row align-items-center">
                                 <div class="col text-center align-self-end">
                                     <h6>Doing</h6>
                                 </div>
                                 <div class="col-auto">
                                     <div class="text-end">
                                         <a class="btn btn-success lh-1 me-2" href="{% url 'taskAddPage' project.id %}"><i class="fa-solid fa-plus"></i></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
 
                         <!-- task (tasks moved around) -->
                         {% for task in tasks_doing %}
                            <div class="card my-2">
                                <div class="card-header px-3 py-1">
                                    <h6 class="my-1">{{task.name}}</h6>
    
                                </div>
    
                                <div class="card-body px-3 py-2 mb-3">
                                    <b><i class="fa-solid fa-calendar-day"></i> Due Date:</b><p>{{task.due_date}}</p>
                                    <b><i class="fa-solid fa-user mb-2"></i> Members:</b><br>
                                    {% for member in task.getMembers %}
                                        {{member.name}}
                                    {% endfor %}
                                    <img src="https://media.wired.com/photos/5ed6891ed9fb171733fd7840/1:1/w_1287,h_1287,c_limit/Ideas-Zuckerberg-1200875675.jpg" alt="" style="height:30px;width:30px;border-radius:100%;">
                                    <img src="http://pm1.narvii.com/7851/7cb92cc8737923f2547fbd2e69f32d068fe6f376r1-532-532v2_00.jpg" alt="" style="height:30px;width:30px;border-radius:100%;">
                                </div>
                                <div class="text-end mb-2 me-2">
                                    {% if user not in task.getMembers %}
                                        <a class="btn btn-success btn-sm" href="{% url 'joinTask' task.id %}"><i class="fa-solid fa-plus"></i> Join</a>
                                    {% else %}
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#leaveTask2"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</button>
                                    {% endif %}
                                    <a class="btn btn-warning btn-sm" href="{% url 'taskEditPage' project.id task.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteTask2"><i class="fa-solid fa-trash"></i> Delete</button>
                                </div>
                            </div>

                            <!-- popup for delete -->
                            <div class="modal" id="deleteTask2" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Delete task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'deleteTask' task.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- popup for leave -->
                            <div class="modal" id="leaveTask2" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Leave task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to leave this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'leaveTask' task.id %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         {% endfor %}
 
                     </div>


                    <!-- NEEDS CHECKING -->
                    <div class="col mx-3 px-0" style="max-width:250px;">
                        <div class="border py-1 bg-dark text-white">
                             <div class="row align-items-center">
                                 <div class="col text-center align-self-end">
                                     <h6>Needs Checking</h6>
                                 </div>
                                 <div class="col-auto">
                                     <div class="text-end">
                                         <a class="btn btn-success lh-1 me-2" href="{% url 'taskAddPage' project.id %}"><i class="fa-solid fa-plus"></i></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
 
                         <!-- task (tasks moved around) -->
                        {% for task in tasks_needs_checking%}
                            <div class="card my-2">
                                <div class="card-header px-3 py-1">
                                    <h6 class="my-1">{{task.name}}</h6>

                                </div>

                                <div class="card-body px-3 py-2 mb-3">
                                    <b><i class="fa-solid fa-calendar-day"></i> Due Date:</b><p>{{task.due_date}}</p>
                                    <b><i class="fa-solid fa-user mb-2"></i> Members:</b><br>
                                    {% for member in task.getMembers %}
                                        {{member.name}}
                                    {% endfor %}
                                    <img src="https://media.wired.com/photos/5ed6891ed9fb171733fd7840/1:1/w_1287,h_1287,c_limit/Ideas-Zuckerberg-1200875675.jpg" alt="" style="height:30px;width:30px;border-radius:100%;">
                                    <img src="http://pm1.narvii.com/7851/7cb92cc8737923f2547fbd2e69f32d068fe6f376r1-532-532v2_00.jpg" alt="" style="height:30px;width:30px;border-radius:100%;">
                                </div>
                                <div class="text-end mb-2 me-2">
                                    {% if user not in task.getMembers %}
                                        <a class="btn btn-success btn-sm" href="{% url 'joinTask' task.id %}"><i class="fa-solid fa-plus"></i> Join</a>
                                    {% else %}
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#leaveTask3"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</button>
                                    {% endif %}
                                    <a class="btn btn-warning btn-sm" href="{% url 'taskEditPage' project.id task.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteTask3"><i class="fa-solid fa-trash"></i> Delete</button>
                                </div>
                            </div>

                            <!-- popup for delete -->
                            <div class="modal" id="deleteTask3" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Delete task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'deleteTask' task.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- popup for leave -->
                            <div class="modal" id="leaveTask3" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Leave task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to leave this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'leaveTask' task.id %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                     </div>


                    <!-- DONE -->
                    <div class="col mx-3 px-0" style="max-width:250px;">
                        <div class="border py-1 bg-dark text-white">
                             <div class="row align-items-center">
                                 <div class="col text-center align-self-end">
                                     <h6>Done</h6>
                                 </div>
                                 <div class="col-auto">
                                     <div class="text-end">
                                         <a class="btn btn-success lh-1 me-2" href="{% url 'taskAddPage' project.id %}"><i class="fa-solid fa-plus"></i></a>
                                     </div>
                                 </div>
                             </div>
                         </div>
 
                         <!-- task (tasks moved around) -->
                        {% for task in tasks_done %}
                            <div class="card my-2">
                                <div class="card-header px-3 py-1">
                                    <h6 class="my-1">{{task.name}}</h6>
    
                                </div>
    
                                <div class="card-body px-3 py-2 mb-3">
                                    <b><i class="fa-solid fa-calendar-day"></i> Due Date:</b><p>{{task.due_date}}</p>
                                    <b><i class="fa-solid fa-user mb-2"></i> Members:</b><br>
                                    {% for member in task.getMembers %}
                                        {{member.name}}
                                    {% endfor %}
                                    <img src="https://media.wired.com/photos/5ed6891ed9fb171733fd7840/1:1/w_1287,h_1287,c_limit/Ideas-Zuckerberg-1200875675.jpg" alt="" style="height:30px;width:30px;border-radius:100%;">
                                    <img src="http://pm1.narvii.com/7851/7cb92cc8737923f2547fbd2e69f32d068fe6f376r1-532-532v2_00.jpg" alt="" style="height:30px;width:30px;border-radius:100%;">
                                </div>
                                <div class="text-end mb-2 me-2">
                                    {% if user not in task.getMembers %}
                                        <a class="btn btn-success btn-sm" href="{% url 'joinTask' task.id %}"><i class="fa-solid fa-plus"></i> Join</a>
                                    {% else %}
                                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#leaveTask4"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</button>
                                    {% endif %}
                                    <a class="btn btn-warning btn-sm" href="{% url 'taskEditPage' project.id task.id %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteTask4"><i class="fa-solid fa-trash"></i> Delete</button>
                                </div>
                            </div>
                                
                            <!-- popup for delete -->
                            <div class="modal" id="deleteTask4" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Delete task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'deleteTask' task.id %}"><i class="fa-solid fa-trash"></i> Delete</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- popup for leave -->
                            <div class="modal" id="leaveTask4" tab-index="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5>Leave task</h5>
                                            <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to leave this task?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-danger" href="{% url 'leaveTask' task.id %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> Leave</a>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-x"></i> Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                     </div>


                </div>

            </div>
            

            {% include 'collabapp/footer.html' %}

        </div>
        
        
    </div>
    
    <!-- footer -->



    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>